/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
.m-eight-main{
  display: block;
  justify-content: center;
  text-align: center;
  margin: 7% ;
  padding: auto;
  height: 0px;


}
header {
  background-color: var(--primary);
  color: white;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.4s ease, padding 0.4s ease, box-shadow 0.4s ease;
}

header.scrolled {
  background-color: rgba(9, 9, 9, 0.9);
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  padding: 1rem 3rem;
  height: 10vh;
}
header h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 2rem;
  text-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--secondary);
}

.hero-section {
  position: relative;
  height: 75vh;
  background-image: url('../app/assets/pexels-steve-1183992.jpg');
  background-attachment: fixed; /* Creates parallax illusion */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

.hero-content {
  text-align: center;
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
  
}
.hero-content h1{
  font-weight: 300;
  letter-spacing: 2px;
}

@keyframes fadeInUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.features-section{
  padding: 3rem;
}
.extra{
  height: 120vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
